TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

TWITCH_BOT_ACCESS_TOKEN=
TWITCH_BOT_REFRESH_TOKEN=
TWITCH_BOT_USER_ID=
TWITCH_BOT_USER_LOGIN=

TWITCH_EVENTSUB_ENABLED=true

TWITCH_CONVEX_URL=
TWITCH_CONVEX_DEPLOYMENT=